---
layout: default
title: Posts
type: home
---
<section id="posts">
    {% for post in site.posts %}
    <article class="{{ post.categories|join:" " }}">
        {% if post.date %}
        <time>{{ post.date | date:"%Y/%m/%d" }}</time>
        {% endif %}
        {% assign category = post.categories|first %}
        <a class="category" href="/#{{ category }}" data-category="{{ category }}">{{ site.data.groups[category].name }}</a>
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        {{ post.excerpt }}
    </article>
    {% endfor %}
</section>
