---
layout: default
title: Posts
type: home
---
<section id="posts">
    <section class="all">
        {% for post in site.posts %}
        <article>
            {% if post.date %}
            <time>{{ post.date | date_to_string }}</time>
            {% endif %}
            <a href="{{ post.url }}">{{ post.title }}</a>
        </article>
        {% endfor %}
    </section>

    {% for category in site.categories %}
    <section class="{{ category|first }}">
        <h2>{{ category|first }}</h2>
        {% for posts in category %}
        {% for post in posts %}
        <article>
            {% if post.date %}
            <time>{{ post.date | date_to_string }}</time>
            {% endif %}
            <a href="{{ post.url }}">{{ post.title }}</a>
        </article>
        {% endfor %}
        {% endfor %}
    </section>
    {% endfor %}
</section>
