@import foundation
@import settings
@import compass
//mport font.sass

$black: scale-lightness(#000, 4%)
$dark: scale-lightness(#000, 9%)
$grey: scale-lightness(#000, 30%)
$light: scale-lightness(#fff, -40%)
$white: scale-lightness(#fff, -10%)

$serif: Arvo
$sans: Lato
$mono: Lekton
$icon: Lakaxita

h1, h2, h3, h4, h5, h6
    font-family: inherit
    color: inherit
h1, h2
    font-family: $serif
.icon
    font-family: $icon
    color: $white
body
    background: $dark
    font-family: $sans
    position: static

header
    color: $white
    font-family: $serif
    max-width: 100% !important
    margin: 0 0 2em 0 !important
    background: $black
    padding: .4em
    +grid-row()
    h1#title
        margin: -40px 0 0 0
        font-size: 1.7em
        +grid-column($columns:2)
        a
            color: $white
            vertical-align: baseline
        a#logo
            font-size: 3em
            margin-left: .2em
    ul#social            
        text-align: right
        +grid-column($columns:2, $offset:8)
        li
            display: inline-block
            list-style: none
            a
                font-size: 2em
        
section#description
    color: $white
    margin: 0 0 4em 0 !important
    +grid-row($behavior: nest)
    div#description_text
        text-align: justify
        +grid-column($columns:12)
        @media #{$medium-up}
            text-align: right
            +grid-column($columns:5, $offset:1)
        @media #{$large-up}
            +grid-column($columns:4, $offset:2)
        h1
            font-weight: normal
            margin-top: 0 !important
            font-size: 2em
            @media #{$medium-up}
                font-size: 1.5em
    div#description_image
        +grid-column($columns:12)
        @media #{$medium-up}
            +grid-column($columns:3)
        @media #{$large-up}
            +grid-column($columns:2)

div#wrap
    background: $white
    color: $black
    margin: 0 !important
    max-width: 100% !important
    +grid-row()
    aside
        margin-top: 50px
        +grid-column($columns:12)
        @media #{$large-up} 
            +grid-column($columns:3)
        nav
            font-family: $serif
            font-weight: bold
            ul
                margin: 0
                list-style: none
                li
                    background: $grey
                    width: 100%
                    margin: .2em
                    padding: 0 1em
                    a
                        color: $white
    main
        margin-top: 50px
        +grid-column($columns:12)
        @media #{$large-up} 
            +grid-column($columns:9)
        article
            time, div.user
                display: inline-block
                color: $white
                font-family: $serif
                font-size: .8em
                padding: .3em
                font-weight: bold
            time
                background: $grey
            div.user
                background: $light
            h1
                font-size: 1.5em
                font-weight: bold
                margin: .5em 0
                a
                    color: $black
            code
                font-family: $mono
                color: $grey

div#wrap:before
    position: absolute
    content: ''
    pointer-events: none
    background: $dark
    border-radius: 50%
    height: 80px
    left: 50%
    transform: translate(-50%,-50%)
    width: 80px
    z-index: 10

footer
    color: $white
    padding: 1em
    max-width: 100% !important
    +grid-row()
    div#licenses
        +grid-column($columns:12)
        @media #{$medium-up} 
            +grid-column($columns:6)
        h1
            font-size: 1.2em
            color: $light
        ul
            margin: 0
            li
                display: inline-block
                list-style: none
                a
                    font-size: 3em
    div#footer_details
        text-align: right
        +grid-column($columns:12)
        @media #{$medium-up} 
            +grid-column($columns:6)
        address
            a.lakaxita
                font-weight: bold
                font-size: 1.3em
        a.admin
            color: $dark
        a.admin:hover
            color: $grey
            
