@import foundation
@import settings

$black: scale-lightness(#000, 4%)
$dark: scale-lightness(#000, 9%)
$grey: scale-lightness(#000, 30%)
$lightgrey: scale-lightness(#fff, -30%)
$white: scale-lightness(#fff, -10%)

$serif: Arvo
$sans: Lato

h1, h2, h3, h4, h5, h6
    font-family: inherit
    color: inherit
h1, h2
    font-family: $serif

body
    background: $dark
    font-family: $sans
    position: static

header
    color: $white
    font-family: $serif
    max-width: 100% !important
    margin: 0 0 2em 0 !important
    background: $black
    height: 70px
    +grid-row($behavior: nest)
    @media #{$medium-up}
        background: none
    h1#title, ul#licenses, a#logo
        background: $black
        padding: .4em !important
        margin: 0 !important
        height: 100%
        a
            color: $white
        a:first-child
            display: none
            @media #{$medium-up}
                display: inline-block
    h1#title
        display: none
        @media #{$medium-up}
            +grid-column($columns:2)
            font-size: 1.5em
            display: block
            font-weight: normal
        @media #{$large-up}
            font-size: 1.7em
    a#logo
        text-align: left
        +grid-column($columns:7)
        @media #{$medium-up}
            +grid-column($columns:2)
            text-align: center
        @media #{$large-up}
            +grid-column($columns:1)
        img
            height: 80%
        
    ul#licenses
        +grid-column($columns:5)
        @media #{$medium-up}
            +grid-column($columns:2, $offset:6)
        li
            list-style: none

        
section#description
    color: $white
    margin: 0 0 2em 0 !important
    +grid-row($behavior: nest)
    div#description_text
        text-align: justify
        +grid-column($columns:12)
        @media #{$medium-up}
            text-align: right
            +grid-column($columns:4, $offset:3)
        h1
            font-weight: normal
            margin-top: 0 !important
            font-size: 2em
            @media #{$medium-up}
                font-size: 1.5em
    div#description_image
        +grid-column($columns:12)
        @media #{$medium-up}
            +grid-column($columns:2)

div#wrap
    background: $white
    color: $black
    margin: 0 !important
    max-width: 100% !important
    +grid-row($behavior: nest)
    main
        +grid-column($columns:12)
        @media #{$medium-up} 
            +grid-column($columns:9)
    aside
        +grid-column($columns:12)
        @media #{$medium-up} 
            +grid-column($columns:3)

div#wrap:before
    position: absolute
    content: ''
    pointer-events: none
    background: black
    border-radius: 50%
    height: 80px
    left: 50%
    transform: translateX(-50%)
    width: 80px
    z-index: 10
