---
layout: default
---
{% include JB/setup %}
<article>
    <h2 class="title" >{{ page.title }}</h2>

    {{ content }}

    <address class="signature">
        <a class="author" href="{{ HOME_PATH }}">{{ site.author.name }}</a>
        <span class="date">{{ page.date | date:"%Y/%m/%d" }}</span>
        <span class="location">{{ page.location }}</span>
    </address>

    <div class="prev-next">
        {% if page.next %}
            <a href="{{ page.next.url }}" class="next"
                title="{{ page.next.title }}">Next Post &rarr;</a>
        {% endif %}
        {% if page.previous %}
            <a href="{{ page.previous.url }}" class="prev"
                title="{{ page.previous.title }}">&larr; Earlier Post</a>
        {% endif %}
    </div>
</article>
