---
layout: default
---
{% include JB/setup %}
<article>
    <time>{{ page.date | date:"%Y/%m/%d" }}</time>
    {% assign category = page.categories|first %}
    <a class="author" href="/#{{ category }}">{{ site.data.groups[category].name }}</a>
    <h1 class="title" >{{ page.title }}</h2>

    {{ content }}

    <div class="prev-next">
        {% if page.next %}
            <a href="{{ page.next.url }}" class="next"
                title="{{ page.next.title }}">Next Post &rarr;</a>
        {% endif %}
        {% if page.previous %}
            <a href="{{ page.previous.url }}" class="prev"
                title="{{ page.previous.title }}">&larr; Earlier Post</a>
        {% endif %}
    </div>
</article>
